@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  font-weight: 600; 
}

p {
  font-weight: 400; 
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; 
}

@keyframes rotate-icon {
  from {
    transform: rotate(0deg) translate(300px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(300px) rotate(-360deg);
  }
}


@media (max-width: 768px) {
  @keyframes rotate-icon {
    from {
      transform: rotate(0deg) translate(150px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(150px) rotate(-360deg);
    }
  }
}

/* Add these styles if needed */
.certificate-card:hover .certificate-overlay {
  opacity: 1;
}

.certificate-overlay {
  transition: opacity 0.3s ease-in-out;
}